
<%= simple_form_for ([@profile, @review]) do |f| %>

  <p>
    <%= f.input :body %><br>
  </p>
  <p>
    <%= f.input :rating, label: "Rating (out of 5):" %>
  </p>
  <p>
  	<%= f.button :submit %>
  </p>
  
<% end %>