    <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>topics</strong>
                    </h2>
                    <hr>
<br>
<br>
<div class="col-lg-8 col-lg-offset-2">
<div class="topics">
<h3><% @topics.each do |topic| %>
<%= link_to topic.name, topic_path(topic), class: 'link-to-text-color' %>
<hr>

<% end %></h3>
</div>
</div>
</div>
</div>
</div>