    <br>
    <br>
    <br>
    <br>


    <div class="row">
    	<div class="box">
    		<div class="col-lg-12 text-center">
    			<hr>
    			 <h1 class="page-title"><strong>Topics</strong></h1>
    			<hr>
    		</div>
    	</div>
    </div>

    <div class="row">
        	<div class="box">
    			<div class="col-lg-12 text-center">
    				<div class="topics">
    					<h3><% @topics.each do |topic| %>
    						<%= link_to topic.name, topic_path(topic), class: 'link-to-text-color' %>
    						<hr>

    						<% end %></h3>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>