  <br><br><br><br>
            <article class="col-sm-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">About us</h1>
                </header>
                <p><img src="https://pbs.twimg.com/profile_images/467248542537379840/AgqCzATA.png" alt="" class="img-rounded pull-right" width="300" > <p>As part of our iXperience final project, <strong>QuickSkill</strong> was dreamed up in the iX house during a casual idea-generation session.</p>
                    <p>QuickSkill was originally devised to help university students find tutoring from other undergraduates. We thought this process would save <strong>money</strong> and <strong>time</strong>. We soon realized, however, that it is not only university students that need help when learning things. Formal education is often <strong>prohibitively expensive</strong>, yet many people have developed <strong>skills</strong> and maintain a desire to teach these skills.</p>
                    <p>Many countries, including South Africa, need more <strong>skilled labor</strong> to help their economies grow. We believe that QuickSkill can help build bridges between those with skills and knowledge of certain subject areas with those looking to <strong>learn</strong> more.</p>

            </article>


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/0a9/0a0/08d6d32.jpg" alt="" width="400">
                    <h3>Christopher Cahill <br>
                        <small>Dope Student</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKwAAAAJGZkYTljZmY4LWJkYTEtNDU0Ni1iOGZkLTZjYzk4YmRlYjdkYg.jpg" alt="" width="400">
                    <h3>Melissa Zhou <br>
                        <small>Business Confidante</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://scontent.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10933911_10205952176904570_1190577759332531399_n.jpg?oh=744943993af3ea09900280b27a5c187f&oe=565AFE81" alt="" width="400" height="400" >
                    <h3>Therveshan Moodley <br>
                        <small>Consultant-to-be Extraordinaire </small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->


	