
<br><br><br>
<div class="container">

    <ol class="breadcrumb">
     
    </ol>

    <div class="row">

      <!-- Article main content -->
      <article class="col-md-12 maincontent">
        <header class="page-header">
         <h1 class="page-title text-center"><strong>Teach</strong> a Man to Fish...</h1>
          <% @posts.each do |post| %>
                    <% user_id = post.user_id %>
                    <% @user = User.find(user_id) %>
                    <%  @profile = @user.profile %>
        
        </header>
<h2><%= link_to post.title, post_path(post), class: 'link-to-text-color' %></h2>
        <h3><%= @profile.name%></h3>
        <p><%= post.description %></p>
<hr>
<%end%>
      </article>
      <!-- /Article -->





