<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @recipient.name %>,</h1>
    <p>
      Someone is interested in your post "<%= @post.title %>" on QuickSkill. Their email is <%= @sender.email %>. <br>
      Give them a shout!<br>
    </p>
    <p>Have a great day, <br><br>The QuickSkill Team</p>
  </body>
</html>

